/*default max-width of every single element*/
.container {
  max-width: 1120px;
  margin: auto;
}

@media only screen and (max-width: 1120px) {
  .container {
    padding-inline: 16px;
  }
}

/*starting header*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
}

@media only screen and (max-width: 1120px) {
  header {
    justify-content: space-between;
    padding: 30px 0;
  }
}

.search-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 1120px) {
  .search-wrapper {
    display: none;
  }
}

.search-wrapper input {
  width: 200px;
  padding: 20px 137px 20px 35px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f5f5f5;
  border: none;
}

.search-wrapper input::placeholder {
  color: #989898;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0%;
}

.search-wrapper .search-icon {
  position: absolute;
  left: 10px;
  width: 16px;
  height: 16px;
  z-index: 1;
}

.nav-bar {
  display: flex;
  gap: 52px;
}

@media only screen and (max-width: 1120px) {
  .nav-bar {
    display: none;
  }
}

.nav-bar li {
  font-weight: 500;
  font-size: 16px;
  line-height: 19.36px;
}

.non-active-nav-bar {
  color: #989898;
}

.actions-wrapper {
  display: flex;
  gap: 24px;
}

@media only screen and (max-width: 1120px) {
  .actions-wrapper {
    display: none;
  }
}

.burger-menu {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
  cursor: pointer;
}

@media only screen and (max-width: 1120px) {
  .burger-menu {
    display: flex;
  }
}

.burger-menu span {
  display: block;
  width: 25px;
  height: 2.5px;
  background-color: #080341;
}

.hero-section {
  height: 632px;
  background: linear-gradient(90.7deg, #211c24 0.64%, #211c24 101%);
}

@media only screen and (max-width: 1120px) {
  .hero-section {
    height: 769px;
  }
}

.hero-section-wrapper {
  display: flex;
  overflow: hidden;
  justify-content: space-between;
}

@media only screen and (max-width: 1120px) {
  .hero-section-wrapper {
    flex-direction: column;
  }
}

.hero-content-wrapper {
  display: flex;
  gap: 24px;
  flex-direction: column;
  padding-top: 188px;
}

@media only screen and (max-width: 1120px) {
  .hero-content-wrapper {
    padding-top: 88px;
    gap: 16px;
  }
}

.hero-content-wrapper span {
  font-weight: 600;
  font-size: 96px;
  line-height: 72px;
  letter-spacing: -1%;
}

@media only screen and (max-width: 1120px) {
  .hero-content-wrapper span {
    font-size: 72px;
  }
}

.hero-first-line {
  font-weight: 600;
  font-size: 25px;
  line-height: 32px;
  color: #909090;
}

@media only screen and (max-width: 1120px) {
  .hero-first-line {
    text-align: center;
  }
}

.hero-title {
  font-weight: 100;
  font-size: 96px;
  line-height: 72px;
  color: #ffffff;
}

@media only screen and (max-width: 1120px) {
  .hero-title {
    font-size: 72px;
    text-align: center;
  }
}

.hero-third-line {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #909090;
}

@media only screen and (max-width: 1120px) {
  .hero-third-line {
    font-size: 19px;
    text-align: center;
  }
}

.hero-btn-wrapper {
  display: flex;
}

@media only screen and (max-width: 1120px) {
  .hero-btn-wrapper {
    justify-content: center;
    margin-top: 10.5px;
  }
}

.black-btn-large {
  padding: 16px 56px;
  width: 191px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 6px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.hero-img-wrapper {
  display: flex;
  justify-content: center;
}

.hero-img {
  width: 406px;
  top: 72px;
  object-fit: contain;
  clip-path: inset(0 0 44% 0);
}

@media only screen and (max-width: 1120px) {
  .hero-img {
    clip-path: inset(0 0 50.85% 0);
    top: 48px;
    width: 321px;
  }
}

@media only screen and (max-width: 542px) {
  .hero-img {
    clip-path: inset(0 0 53.8% 0);
    top: 48px;
    width: 321px;
  }
}

@media only screen and (max-width: 439px) {
  .hero-img {
    clip-path: inset(0 0 63% 0);
    top: 48px;
    width: 321px;
  }
}

footer {
  background-color: #000000;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 104px;
}

@media only screen and (max-width: 1120px) {
  .footer-wrapper {
    flex-direction: column;
    text-align: center;
    padding-top: 48px;
  }
}

.description-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 1120px) {
  .description-wrapper {
    justify-content: center;
  }
}

.description-wrapper p {
  max-width: 384px;
  font-weight: 500;
  font-size: 14px;
  line-height: 23.87px;
  color: #cfcfcf;
}

@media only screen and (max-width: 1120px) {
  .description-wrapper p {
    margin-top: 16px;
  }
}

.footer-options-wrapper {
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 1120px) {
  .footer-wrapper {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
}

.footer-options-wrapper ul li {
  width: 295.5px;
}

.first-option-line li {
  margin-top: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 32px;
  color: #cfcfcf;
}

.second-option-line li {
  margin-top: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 32px;
  color: #cfcfcf;
}

.bold-footer-option {
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff !important;
}

.social-wrapper {
  display: flex;
  gap: 36.33px;
  margin-top: 24px;
  padding-bottom: 104px;
}

@media only screen and (max-width: 1120px) {
  .social-wrapper {
    justify-content: center;
  }
}
